body{text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;

}







.first-div{
  position: relative;
  width: 50%;
  margin: 150px auto 0 auto;
  border: solid;
  border-radius: 30px;
  background-color: #c5d7bd;
  border-color:#fb743e;

  line-height: 2;
}

.Centralizar{position:relative;
            right:20px;
}

#user{color: #e40017;





}

#user-text{ position: relative;
          bottom: 10px;
          border-radius: 5px;
          border-color:#e40017;
          border-width:  thin;

}


#label-pass{position: relative;
                bottom:25px;
              left: 50px;
              color: #e40017;



}

#password{ position: relative;
          bottom:32px;
          left: 50px;
          border-radius: 5px;
          border-color:#e40017;
          border-width:  thin;


}

#submit{ position: relative;
        bottom: 33px;
        border: solid;
        border-color:#fb743e;
        border-radius: 10px;
        font-family: 'Play', sans-serif;
        font-size:1rem;
        left: 50px;
        border-width:  thin;




}



#would{font-size:2.0rem;
  position: relative;
  bottom: 50px;
left: 50px;
color: #e40017;

}


#check{position: relative;
  bottom:55px;
  left: 50px;


}

.call{ border-width: thin;
    border-radius: 5px;}


.email{border-width: thin;
    border-radius: 5px;}













.area{ border-radius: 30px;}
